[submodule "scripts"]
	path = scripts
	url = https://github.com/piercirocaliandro/scripts.git
[submodule "neovim-config"]
	path = neovim-config
	url = https://github.com/piercirocaliandro/neovim-config.git
